@font-face {
    font-family: 'apercumono';
    src: url('/fonts/apercu-mono-webfont.eot');
    src: url('/fonts/apercu-mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/apercu-mono-webfont.woff2') format('woff2'),
         url('/fonts/apercu-mono-webfont.woff') format('woff'),
         url('/fonts/apercu-mono-webfont.ttf') format('truetype'),
         url('/fonts/apercu-mono-webfont.svg#apercumono') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apercubold';
    src: url('/fonts/apercu-bold-webfont.eot');
    src: url('/fonts/apercu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/apercu-bold-webfont.woff2') format('woff2'),
         url('/fonts/apercu-bold-webfont.woff') format('woff'),
         url('/fonts/apercu-bold-webfont.ttf') format('truetype'),
         url('/fonts/apercu-bold-webfont.svg#apercubold') format('svg');
    font-weight: normal;
    font-style: normal;

}

