// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;

$max-site-width: em(1300);

$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

// Define your breakpoints
// $mobile: new-breakpoint(max-width em(480) 4);
// $tablet: new-breakpoint(max-width em(768) 8);
// $desktop: new-breakpoint(min-width em(769) 12);
// $large-screen: new-breakpoint(min-width em(1088) 12);

$mobile-width: em(480);
$tablet-width: em(768);
$desktop-width: em(769);
$large-screen-width: em(1090);
$wide-screen-width: em(1400);
$super-wide-screen-width: em(1600);

$mobile: new-breakpoint(max-width $mobile-width 4);
$mobile-up: new-breakpoint(min-width $mobile-width);
$tablet: new-breakpoint(min-width $mobile-width max-width $tablet-width, 8);
$tablet-down: new-breakpoint(max-width $tablet-width 8);
$tablet-up: new-breakpoint(min-width $tablet-width);
$tablet-desktop: new-breakpoint(min-width $mobile-width max-width $desktop-width);
$desktop: new-breakpoint(min-width $desktop-width max-width $large-screen-width);
$desktop-up: new-breakpoint(min-width $desktop-width 12);
$desktop-down: new-breakpoint(max-width $desktop-width);
$large-screen: new-breakpoint(min-width $large-screen-width);
$large-screen-down: new-breakpoint(max-width $large-screen-width);
$wide-screen: new-breakpoint(min-width $wide-screen-width);
$wide-screen-down: new-breakpoint(max-width $wide-screen-width);
$super-wide-screen: new-breakpoint(min-width $super-wide-screen-width);

$max-width: $large-screen-width;