

body {
	&.comingsoon {
		background-color: #FFB6C1;
		overflow: hidden;
	}	
	::selection {
		background-color: #000;
		color: #fff;
	}	
}



.wrapper {
	@include row();
	@include span-columns(8);
	@include shift(2);
	font-family: 'apercumono';
	text-align: center;
	&.center {
		margin-top: 50vh;
		transform: translateY(-50%);	
	}

	.text {
		color: #000;
		.logo {
			font-size: 5em;
			font-family: 'apercubold';
			margin: 0 0 .2em 0;
			@include media($tablet-down) {
      	font-size: 4em;
    	}
		}

		h3 {
			font-family: inherit;
			font-size: 1.3em;
		}

		.bio {
			margin: 0 0 2em 0;
		}
	}
}

.mailchimp {
	::-webkit-input-placeholder {
		color: #000;
		font-family: 'apercumono';
		font-size: 1.1em;
	}

	input[type='email'] {
		@include span-columns(8);
		@include shift(2);
		border: 5px solid #000;
		border-radius: 0px;
		color: #000;
		font-size: 1.1em;
		font-family: inherit;
		height: 3em;
		@include media($tablet-down) {
			@include span-columns(12 of 12);
			@include shift(0);
			height: 4em;
      font-size: 1em;
		}
	}
		
	input[type='submit'] {
		@include span-columns(3);
		@include shift(4.5);
		background-color: #fff;
		border: 5px solid #000;
		border-radius: 0px;
		color: #000;
		height: 3em;
		font-family: inherit;
		font-size: 1.1em;
		margin-bottom: 1em;
		&:hover {
			background: #000;
			color: #fff;
			transition: .2s;
		}
		@include media($tablet-down) {
			@include span-columns(8 of 12);
			@include shift(2);
				height: 4em;
      	font-size: 1em;
    	}
	}

	.mce-responses {
		display: block;
	}

	.mc-response {
		display: block;
		float: right;
	}
}

.sucsess {
	visibility: hidden;
	background: white;
	border: 5px solid black;
  padding: 15px 10px;
}