.l-left {
	width: 50%;
	float: left;
	min-height: 100vh;
	position: fixed;	
	@include media($large-screen-down) {
		width: 40%;
	}
	@include media($tablet-down) {
		width: 100%;
		position: static;
	}

	.topbar {
		position: fixed;
		width: 50%;
		@include media($large-screen-down) {
			width: 40%;
			height: auto;
		}
		@include media($tablet-down) {
			width: 100%;
			height: auto;
		}
	}
	
}

.l-right {
	width: 50%;
	float: right;
	min-height: 100vh;
	background-color: $black;	
	@include media($large-screen-down) {
		width: 60%;
	}
	@include media($tablet-down) {
		width: 100%;
	}

	.cities-index {
		&__wrapper {
			width: 50%;
			height: 500px;
			float: left;
			//adding border to make perfect grid
			&:nth-last-of-type(-n+2) {
				border-bottom: $base-border;
			}
			@include media($large-screen-down) {
				width: 50%;
				height: 420px;
			}
			@include media($desktop-down) {
				width: 100%;
				height: 380px;
				//when single col, change border bottom only to last child
				&:nth-last-child(2) {
					border-bottom: none;
				}
			}
			@include media($tablet-down) {
				width: 50%;
				height: 300px;
			}
			@include media($mobile) {
				width: 100%;
				//when single col, change border bottom only to last child
				&:nth-last-child(2) {
					border-bottom: none;
				}
			}
	  }
  }
}