@mixin rounded($radius: 3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}


/* Beveled borders */

$vendors: ("-webkit-", "-moz-", "-ms-", "-o-", "");


@mixin vendor-prefix($name, $value) {
  @each $vendor in $vendors {
    #{$vendor}#{$name}: #{$value};
  }
}
@function vendor-prefix-attrib-list($vendor, $list, $separator: comma) {
  $prefixed: ();
  @each $item in $list {
    $prefixed: append($prefixed, unquote('#{$vendor}#{$item}'), $separator);
  }
  @return $prefixed;
}

@mixin box-shadow ($distance-h, $distance-v, $blur, $spread, $hex, $rgba) {
  -moz-box-shadow:    $distance-h $distance-v $blur $spread $hex;
  -webkit-box-shadow: $distance-h $distance-v $blur $spread $hex;
  box-shadow:         $distance-h $distance-v $blur $spread $hex;
  -moz-box-shadow:    $distance-h $distance-v $blur $spread $rgba;
  -webkit-box-shadow: $distance-h $distance-v $blur $spread $rgba;
  box-shadow:         $distance-h $distance-v $blur $spread $rgba;
}
