.banner {
	border-left: $base-border;
	border-right: $base-border;
	border-bottom: $base-border;
	min-height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	&__title {		
		font-size: em(60);
	}

	&__tagline {
		padding: 2em 0 0 0;
	}
}