.banner {
	border-left: $base-border;
	border-right: $base-border;
	border-bottom: $base-border;
	min-height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	&__wrapper {
		padding: 0 1em;
	}
	
	&__title {		
		font-size: em(60);
		@include media($desktop-down) {
			font-size: $h1-font-size / 1;
		}
		@include media($mobile) {
			font-size: $h1-font-size / 1.1;
		}
	}

	&__tagline {
		padding: 2em 0 0 0;
	}
}