.topbar-control {
	border: $base-border;
	background-color: $white;
	font-size: 1em;
}

.topbar {
	@include clearfix;
	@extend .topbar-control;
	height: 5em;
	display: flex;
	justify-content: flex-start;
	
	.logo {
		@extend .topbar-control;
		width: 150px;
		padding: .5em;
		margin: 1em;
		letter-spacing: .3em;
		text-align: center;
		
		@include media($mobile) {
			display: flex;
			justify-content: flex-start;
		}
	}

	.topbar-nav {
		height: 100%;
		
		@include media($mobile) {
			float: none;
			padding: 0 0 .5em 0;
		}
		
		&__item {
			@extend .topbar-control;
			display: inline;
			height: 100%;
			padding: .5em;
			margin: 1em .5em;
		}
}



}