.place__content {
    width: 100%;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 115px;
    padding-left: 30px;

    header {
        margin-top: -10px;
        margin-bottom: 15px;
        line-height: 1.6;

        h3 {
            margin: 0;
            padding-right: 55px;
        }

        h4 {
            margin: 0;
            font-family: 'apercumono';
        }
    }
}