.empty-block {
    display: block;
    width: 32px;
    height: 32px;
    border: $border;
    background-color: #fff;
    font-family: 'apercubold';
    font-size: rem(18);
    line-height: 30px;
    text-align: center;
}