.place-single {
    @extend .not-full-border;

    display: flex;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 100px;

    &__map {
        width: 50%;
        padding-top: 20px;
        padding-right: 16px;
        padding-left: 45px;
        box-sizing: border-box;
    }

    &__posts {
        width: 50%;
        margin-top: 20px;
        padding-right: 45px;
        padding-left: 16px;
        box-sizing: border-box;
    }
}