.post {
    border: $border;
    margin-top: 36px;
    background: #fff;
    padding-top: 100px;
    padding-right: 44px;
    padding-bottom: 60px;
    padding-left: 44px;
    line-height: 1.8;

    &:first-child {
        margin-top: 0;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 10px;
    }
}