.filter-header__form {
    width: 640px;
    max-width: 60%;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;

    .filter__input {
        display: block;
        width: 100%;
        background-color: transparent;
        border-top: none;
        border-right: none;
        border-left: none;
        font-family: 'apercubold';
        font-size: rem(40);
        text-transform: uppercase;
        letter-spacing: rem(4.4);
    }
}