.filter-header {
    padding: 24px;
    position: relative;

    .logo {
        position: absolute;
        top: 24px;
        left: 24px;
        margin: 0;
    }

    .close-button {
        top: 24px;
        right: 24px;
        position: absolute;
    }
}